.film-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap
}

body{
    background-color: #EEF1FF !important;
}

.rating-color{
    color: mediumslateblue;
}

.film-summary{
    overflow: hidden;
    text-overflow: ellipsis;
    display:  -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient : vertical;
}